h1{
    text-align: center;
    color:#864000
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d44000;
}

li {
    display:inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:#ff7a00; 
}

ul li ul {
    background-color:#bd8b27;
    display:none;
    position:absolute;
    width:100px;
    font-weight: bold;
}

ul li:hover ul{
    display:block;
}
li ul li {
    display:block; 
}
.btn {
    height:40px;
    width:120px;
   text-align: center;
   background-color:rgb(228, 192, 192);
}
.btn:hover {
    background-color:red;
}
.input{
    height:40px;
    width:350px;
    margin-left:400px;
}
.input:hover {
    background-color:rgb(226, 216, 216);
}
.kitap img{
    
    border: 2px solid #CCCCCC;
    background-color: #FFFFFF;
    height: 200px;
    width: 1000px;
    display: block;
    margin-left: 400px;
}
.box1{
    margin-left:30px;
    width:100px;
    height:100px;

}
.box2{
    margin-left:200px;
    width:100px;
    height:100px;
}
.box3{
    margin-left:240px;
    width:100px;
    height:100px;
}
.box4{
    margin-left:180px;
    width:100px;
    height:100px;
}
.box5{
    margin-left:240px;
    width:100px;
    height:100px;
}
.box6{
    margin-left:300px;
    width:100px;
    height:100px;
}

p{
    font-weight: bold;
}
.kitapYazi{
    margin-left: 10px;
    font-weight: bold;
}
.container{
    text-align: center;
    
}